---
import { pages } from "@data/notion";
import { getUser } from "@astro-auth/core";

import splash from "./skating.png";
import Enterprise from "@layouts/Enterprise.astro";
import Bulletin from "@ui/displays/Bulletin.astro";
---

<Enterprise showLogin title="RadiKS Solutions">
  <div class="flex items-center flex-col sm:flex-row gap-10">
    <img class="my-4 w-52" src={splash} />
    <div class="py-4">
      <i>
        quality...<br />
        service...<br />style
      </i>
      <br />
      <br />
      Quotes E-Mail: radiks@aol.com
      <br />
      <br />
      Phone Number: 15554206969
    </div>
  </div>
  <hr class="my-3 border border-amber-500" />
  <div class="flex flex-col sm:flex-row">
    <div class="sm:w-56 flex flex-col">
      <h1>Website bulletins</h1>
      <div class="text-xs">
        Last Updated:&nbsp;<b>June 1992</b>
      </div>
      <hr class="my-2 w-10 border border-black" />
      <div class="flex flex-col gap-8 my-4">
        <Bulletin>
          Community outreach youth skate-off tournament saturday, byob -- read
          our blog for updates on radiks educational soft-products
        </Bulletin>
        <Bulletin>
          We are not responsible for lost packages due to death of service
          fulfillment contractors.
        </Bulletin>
        <Bulletin>
          Do not contact radiks regarding oopsies with service fulfillment
          contractors, dial your local trauma care center and invoice us
        </Bulletin>
      </div>
    </div>

    <div class="flex flex-col">
      <h1>RadiKS Dev-Log</h1>
      <div class="text-xs">Keep up on company announcements</div>
      <hr class="my-2 w-10 border border-black" />
      <div class="flex flex-col my-4">
        {
          pages.map(({ title, subtitle, slugLink, formattedCreatedTime }) => (
            <a href={slugLink}>
              <div class="p-2 border-2 border-amber-500">
                <div class="text-xs flex justify-between">
                  <div>{subtitle}</div>
                  {formattedCreatedTime}
                </div>
                <hr class="w-10 border-2  border-black" />
                <b class="text-md">{title}</b>
              </div>
            </a>
          ))
        }
      </div>
    </div>
  </div>
</Enterprise>
